<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <form action="http://127.0.0.1:5000/result" method="POST">
        <P>Name <input type = "text" name = "Name" /></P>
        <P>Physics <input type = "text" name = "Physics" /></P>
        <P>Chemistry <input type = "text" name = "Chemistry" /></P>
        <P>Maths <input type = "text" name = "Mathematics" /></P>
        <P><input type = "submit" name = "submit" /></P>

    </form>
</body>
</html>
